{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <h1 class="text-center">Change your password</h1>
    <div class="content-section">
        <form method="POST" action="{{ url_for('users.change_password') }}" class="login_form mb-5">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.current_password.label(class="form-control-label") }}
                {{ form.current_password(class="form-control") }}
                {% if form.current_password.errors %}
                    <div class="text-danger mt-2">
                        {% for error in form.current_password.errors %}
                            <small>{{ error }}</small><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.new_password.label(class="form-control-label") }}
                {{ form.new_password(class="form-control") }}
                {% if form.new_password.errors %}
                    <div class="text-danger mt-2">
                        {% for error in form.new_password.errors %}
                            <small>{{ error }}</small><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {{ form.confirm_password(class="form-control") }}
                {% if form.confirm_password.errors %}
                    <div class="text-danger mt-2">
                        {% for error in form.confirm_password.errors %}
                            <small>{{ error }}</small><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>

            <div class="form-group mt-4 text-center">
                {{ form.submit(class="btn btn-info") }}
            </div>
        </form>
    </div>
{% endblock %}
