{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}

<div class=" mb-5 mt-3">
    <h1 class="text-center">Login</h1>
    <div class="card-body">
        <form method="post" action="{{ url_for('users.login') }}" class="login_form">
            {{ form.csrf_token }}
            <div class="mb-3">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
            </div>
            <div class="mb-3 form-check">
                {{ form.remember(class="form-check-input") }}
                {{ form.remember.label(class="form-check-label") }}
            </div>
            <button type="submit" class="btn btn-warning">Login</button>
        </form>
    </div>
</div>

{% endblock %}
