{% extends 'base.html' %}

{% block title %}Login Page{% endblock %}

{% block content %}

<div class="container mt-5 ">
    <h2 class="text-center">Login</h2>
    <form action="{{ url_for('users.login') }}" method="post" class="mt-4 mb-5 login_form">
        <div class="form-group mb-3">
            <label for="username">Ім'я користувача:</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Введіть ім'я користувача" required>
        </div>
        <div class="form-group mb-3">
            <label for="password">Пароль:</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Введіть пароль" required>
        </div>
        <button type="submit" class="btn btn-dark w-100">Увійти</button>
    </form>
</div>

{% endblock %}