{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Register</h2>
            <form method="POST" action="{{ url_for('users.register') }}">
                {{ form.hidden_tag() }}

                <div class="form-group mb-3">
                    {{ form.username.label }}
                    {{ form.username(class="form-control", placeholder="Enter username") }}
                    {% if form.username.errors %}
                    {% for error in form.username.errors %}
                    <span class="text-danger">{{ error }}</span><br>
                    {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    {{ form.email.label }}
                    {{ form.email(class="form-control", placeholder="Enter email") }}
                    {% if form.email.errors %}
                        {% for error in form.email.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group mb-3">
                    {{ form.password.label }}
                    {{ form.password(class="form-control", placeholder="Enter password") }}
                    {% if form.password.errors %}
                        {% for error in form.password.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="form-group mb-4">
                    {{ form.confirm_password.label }}
                    {{ form.confirm_password(class="form-control", placeholder="Confirm your password") }}
                    {% if form.confirm_password.errors %}
                        {% for error in form.confirm_password.errors %}
                            <span class="text-danger">{{ error }}</span><br>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="mb-5 text-center">
                    {{ form.submit(class="btn btn-warning") }}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}