{% extends 'base.html' %}

{% block title %} POSTS {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('.static', filename='css/posts.css') }}">
{% endblock %}

{% block content %}
<!-- Кнопка для додавання посту -->
<form action="{{ url_for('.add_post') }}" class="mt-4">
    <button type="submit" class="btn btn-warning">Add post</button>
</form>

<h1 class="text-center mt-5 myclass">Posts</h1>
<div class="container">
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 mb-4">
            <div class="card h-100 shadow ahref">
                <div class="card-body">
                    <img src="{{ url_for('.static', filename='images/resumeImage2.png') }}" class="card-img-top"
                         height="300px">
                    <h3 class="card-title mt-2">
                        <a href="{{ url_for('posts.detail_post', id=post['id']) }}">{{ post.title | title }}</a>
                    </h3>
                    <p class="card-text">Post ID: {{ post.id }}</p>
                    <p class="card-text">{{ post.content | truncate(23) }}</p>
                    <p class="card-text"><strong>Category:</strong> {{ post.category }}</p>
                    <p class="card-text"><strong>Author:</strong> {{ post.author }}</p>
                    <p class="card-text"><small class="text-muted">Дата публікації: {{ post.posted }}</small></p>
                    <p class="card-text">
                        <small class="text-muted">
                            {% if post.is_active %}
                            <span class="badge bg-success">Active</span>
                            {% else %}
                            <span class="badge bg-secondary">Inactive</span>
                            {% endif %}
                        </small>
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
