<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume</title>
</head>
<body>
<h1>Резюме</h1>
<section>
    <h2>Про мене:</h2>
    <ul>
        <li>Ім'я та Прізвище: Крупка Юлія</li>
        <li>Вік: 19 років</li>
        <li>Хоббі: читання та малювання</li>
    </ul>
</section>
<section>
    <h2>Освіта</h2>
    <ul>
        <li>Середня освіта: Тисменицький ліцей</li>
        <li>Вища освіта: ПНУ ім. Василя Стефаника, 121 Інженерія програмного забезпечення.</li>
    </ul>
</section>
<section>
    <h2>Навички</h2>
    <h3>Під час навчання в університеті здобула наступні навички: </h3>
    <ul>
        <li>Програмування мовою Java</li>
        <li>Програмування мовою Php</li>
        <li>Програмування мовою Ruby</li>
        <li>Програмування мовою JavaScript</li>
        <li>Знання верстки HTML</li>
        <li>Знання MySql</li>
    </ul>
</section>
<section>
    <h2>Досвід роботи</h2>
    <p>Досвіду роботи поки немає.</p>
</section>
<section>
<img src="{{ url_for('static', filename='images/resumeImage.png') }}" alt="logo" width="300px">
</section>
</body>
</html>