{% extends "base.html" %}

{% block title %}Резюме{% endblock %}

{% block navmenu %}
<li class="nav-item"><a class="nav-link" href="#about">Про себе</a></li>
<li class="nav-item"><a class="nav-link" href="#education">Освіта</a></li>
<li class="nav-item"><a class="nav-link" href="#skills">Навички</a></li>
<li class="nav-item"><a class="nav-link" href="#experience">Досвід роботи</a></li>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Моє резюме</h1>

    <section id="about" class="mb-5 hover_shadow">
        <div class="card p-3">
            <div class="card-body">
                <h2 class="card-title">Про мене</h2>
                <ul class="list-group-flush">
                    <li><strong>Ім'я та Прізвище:</strong> Крупка Юлія</li>
                    <li><strong>Вік:</strong> 19 років</li>
                    <li><strong>Хоббі:</strong> читання та малювання</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="education" class="mb-5 hover_shadow">
        <div class="card p-3">
            <div class="card-body">
                <h2 class="card-title">Освіта</h2>
                <ul class="list-group-flush">
                    <li><strong>Середня освіта:</strong> Тисменицький ліцей</li>
                    <li><strong>Вища освіта:</strong> ПНУ ім. Василя Стефаника, 121 Інженерія програмного забезпечення.
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="skills" class="mb-5 hover_shadow">
        <div class="card p-3">
            <div class="card-body">
                <h2 class="card-title">Навички</h2>
                <ul class="list-group-flush">
                    <li>Програмування мовою Java</li>
                    <li>Програмування мовою Php</li>
                    <li>Програмування мовою Ruby</li>
                    <li>Програмування мовою JavaScript</li>
                    <li>Програмування мовою Python</li>
                    <li>Володіння версткою за допомогою HTML</li>
                    <li>Робота з базами даних MySQL</li>
                </ul>
            </div>
        </div>
    </section>

    <section id="experience" class="mb-5 hover_shadow">
        <div class="card p-3">
            <div class="card-body">
                <h2 class="card-title">Досвід роботи</h2>
                <p>Досвіду роботи поки немає.</p>
            </div>
        </div>
    </section>

    <section class="photo text-center mb-5">
        <img src="{{ url_for('static', filename='images/resumeImage.png') }}" alt="Resume Image" width="300px">
    </section>
</div>

{% endblock %}
